<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Anas Darwish - AI, NLP and ML Specialist">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anas Darwish - AI, NLP and ML Specialist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>About Anas Darwish</h1>
    </div>
        <img src="{{ url_for('static', filename='images/cto.png') }}" alt="Anas Darwish" class="profile-pic">
    </div>
        <p>Thank you for visiting my professional space. I am Anas Marwan Darwish, a passionate innovator and strategist in the fields of Natural Language Processing  and Machine Learning.</p>
        <p>With a rich academic background from Stanford University specializing in Machine Learning, my career is a tapestry of developing cutting-edge AI solutions. My expertise lies in transforming complex data into actionable insights and user-centric products through the power of NLP and ML.</p>
        <p>From enhancing healthcare services with AI to developing sophisticated language models that understand and process human language, my work focuses on creating intelligent systems that learn and adapt.</p>
        <p>Fluency in multiple languages and a published author on cultural acclimatization, I am driven to build AI that is as diverse and inclusive as the world we live in.</p>
        <p>I am excited to apply my technical expertise, innovative thinking, and leadership to the next frontier in AI development. Join me on this journey to harness AI and create a smarter, more connected future.</p>
    </div>

    <div class="container">
        <h1>Resumé</h1>

        <!-- Contact Information -->
        <div class="contact-info">
            <p>Email: darwish88anas@gmail.com </p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/anas-darwish-b6870796/" target="_blank">https://www.linkedin.com/in/anas-darwish-b6870796/</a></p>
        </div>

        <!-- Objective -->
        <div class="objective">
            <h2>Objective</h2>
            <p>AI and ML expert with a strong foundation in generative models and machine learning systems, seeking to contribute to a Proactive Intelligence team. Aiming to leverage deep technical skills and a proven track record of innovative solutions to enhance products and customer experiences.</p>
        </div>

        <!-- Professional Experience -->
        <div class="professional-experience">
            <h2>Professional Experience</h2>
            <!-- CTO / Applied AI Strategist -->
            <h3>Chief Technology Officer (CTO) / Applied AI Strategist</h3>
            <p>KaRama iT Co., Halifax, Nova Scotia | 04/2023 - Present</p>
            <ul>
                <li>Lead generative AI initiatives, enhancing product innovation and user experience.</li>
                <li>Implement AI-driven methodologies in the medical sector, fostering cross-disciplinary partnerships and innovation.</li>
            </ul>

            <!-- CTO / AI Solutions Architect -->
            <h3>Chief Technology Officer (CTO) / AI Solutions Architect</h3>
            <p>KaRama iT Co., Halifax, Nova Scotia | 02/2023 - 04/2023</p>
            <ul>
                <li>Developed AI assistants for autism, focusing on prompt optimization for enhanced user interactions.</li>
                <li>Drove the advancement of AI tools for ASD, improving product functionality and market positioning.</li>
            </ul>

            <!-- Director of Innovation & AI Research -->
            <h3>Director of Innovation & AI Research</h3>
            <p>Purqle LLC, Denver, CO, USA | 01/2021 - 02/2023</p>
            <ul>
                <li>Led the AI product evolution through custom machine learning models, maintaining the company's competitive edge in innovation.</li>
                <li>Conducted research on cutting-edge AI technologies, integrating findings into product development.</li>
            </ul>
        </div>
        <!-- Education -->
        <div class="education">
            <h2>Education</h2>
            <p>Specialization in Machine Learning<br>
            Stanford University, Stanford, CA, USA</p>
            <p>Associates in Business Economics<br>
            Santa Monica College, Santa Monica, CA, USA</p>
        </div>

        <!-- Licenses & Certifications -->
        <div class="licenses-certifications">
            <h2>Licenses & Certifications</h2>
            <ul>
                <li>Machine Learning Specialization, Stanford University, July 2023</li>
                <li>LangChain & Vector Databases in Production, ActiveLoop.ai, September 2023</li>
                <li>Unsupervised Learning, Recommenders, Reinforcement Learning, Stanford University, July 2023</li>
                <li>Advanced Learning Algorithms, DeepLearning.AI, July 2023</li>
                <li>Supervised Machine Learning: Regression and Classification, Stanford University, June 2023</li>
                <li>Google Digital Marketing and E-Commerce, Google, March 2023</li>
                <li>Google Cloud Big Data and Machine Learning Fundamentals, Google, March 2023</li>
            </ul>
        </div>

        <!-- Skills -->
        <div class="skills">
            <h2>Skills</h2>
            <p>Technical & AI Expertise: Expert in Python, C, SQL; generative AI, prompt engineering, TensorFlow, data analysis, AI implementation.</p>
            <p>Software Engineering: Robust software development skills, capable of building scalable deep learning infrastructure.</p>
            <p>Research & Development: In-depth knowledge of ML literature, optimization methods, and statistical modeling.</p>
            <p>Machine Learning Acumen: Conversational agents, sequential decision-making, reinforcement learning, autonomous systems, and LLMs.</p>
        </div>

        <!-- Additional Information -->
        <div class="additional-information">
            <h2>Additional Information</h2>
            <p>Publications: "Absorbing the culture shock", an insight into cultural acclimatization for expatriates.</p>
            <p>Languages: English (Fluent), Arabic (Fluent), Turkish (Intermediate).</p>
            <p>Work Authorization: Authorized to work in the USA for any employer.</p>
            <p>Willingness to Relocate: Open to relocation.</p>
        </div>

        <!-- Additional Requirements -->
        <div class="additional-requirements">
            <h2>Additional Requirements</h2>
            <p>Demonstrated ability to publish and contribute to renowned AI conferences.</p>
            <p>Developed AI applications for predictive multimodal agent behaviors using advanced techniques.</p>
        </div>
    </div>
</body>
</html>
